body {
    box-sizing:content-box;
    box-shadow: inset;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: peru
}
.gallery image {
    width: 150px;
    height:max-content;
    margin: 10px;
    border: 2px rgb(133, 18, 133);
}
.footer {
    background-color: blue;
    padding: 16px;
}