body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
.CV {
    background-color: snow;
    width: 200px;
    margin: auto;
    padding: 20px;
    border: 1px  solid salmon;
}
h1 {
    text-align: center;
    color: brown;
}
h2 {
    color: paleturquoise;
    border-bottom: 1px  solid silver;
}
p {
    font-size: 14px;
}
.sign {
    margin-top: 30px;
}