.menu {
background-color: aqua;
padding: 10px;
}
.menu a {
    color: blueviolet;
    text-decoration: none;
    padding: 10px;display: inline;
}
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
display:flex;
position:absolute;
background-color: bisque;
min-width: 200px;
}
.dropdown-content a{
    color: purple;
    padding:10px;
    display:contents;
    text-decoration:dashed;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu a:hover {
    background-color: darkblue;
}