body{
    font-family: 'Courier New', Courier, monospace;
}
form {
    width: 500px;
    margin: auto;

}
fieldset{
    padding: 15px;

}
legend {
    font-weight: 100;

}
.row {
    margin-top: 10px;

}
label {
    display: inline;
    width: 180px;
}