body {
    background-color:palevioletred;
    font-family:'Courier New', Courier, monospace;
}

.container {
    width: 400px;
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color:blue;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    font-size: 16px;
}