body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h2 {
    margin: 20px;
}

.gallery {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.box {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.box img {
    width: 100%;
    height: 150px;
}

.box p {
    margin-top: 8px;
    font-size: 14px;
}